.person-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .person-edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;

    .edit-field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      margin-left: 150px;
      width: 60%;
      height: 20px;
    }

    .buttons {
      margin-top: 20px;
    }
  }
}
